<%- include('partials/header') %>

                <div class="card p-3 bg-light border">
                    <h3>Privacy & Disclaimer</h3>
                    <p>We value your privacy. Your personal information will never be sold or misused. The details provided in pet listings are based on owner submissions, and we are not responsible for any incorrect information. Please ensure the accuracy of the details before making any adoption decisions.</p>
                </div>

<%- include('partials/footer') %> 