            </main>
        </div>
    </div>
    
    <footer class="footer">
        <p>Privacy & Disclaimer | Your information will not be sold or misused.</p>
        <p class="image-attribute"><a href="/privacy">Learn More</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/datetime.js"></script>
</body>
</html> 