<%- include('partials/header') %>

                <h2>Welcome to Adopt A Friend</h2>
                <p>Your one-stop destination for adopting a furry friend.</p>
                <div class="adoption-info">
                    <div>
                        <img src="/IMG/dog-and-cat.webp" alt="Adopt a pet" class="img-fluid">
                        <p class="image-attribute"><a href="https://spiritdogtraining.com/behavior/rescue-dogs-live-with-cats/" target="_blank">Image Source</a></p>
                    </div>
                    <div class="adoption-text">
                        <h3>Why Adopt?</h3>
                        <p>Adopting a pet is a life-changing decision that not only gives an animal a second chance but also provides you with a loving companion. Many pets in shelters are looking for a forever home where they can be loved and cared for.</p>
                        <h4>Adoption Benefits:</h4>
                        <ul>
                            <li>Save a life by giving a pet a home.</li>
                            <li>Reduce pet overpopulation and euthanasia rates.</li>
                            <li>Gain a loyal and loving friend.</li>
                            <li>Help shelters and rescue organizations.</li>
                        </ul>
                    </div>
                </div>

<%- include('partials/footer') %> 